@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@theme {
  /* Custom App Theme Colors */
  --color-chat-bg: #FFFFFF;
  --color-chat-ai: #D4ACFB;
  --color-chat-user: #8DE9D5;
  --color-chat-accent: #30C67C;
  
  /* Override Default Sans Font */
  --font-sans: "Inter", sans-serif;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-gray-200); /* Uses standard v4 color variable */
  border-radius: 10px;
}